---
import Layout from './../../layouts/Layout.astro';

const { param } = Astro.params;
---

<Layout>
	<main class="flex flex-col">
		<h1 class="text-3xl font-bold mx-auto text-primary-700 mb-6">Dynamic Routing</h1>
		<span class="mt-4">
            {param}
        </span>
	</main>
</Layout>