---
export interface Props {
	title: string;
	body: string;
	href?: string;
}

const { href, title, body } = Astro.props;
---

<div class="bg-secondary-200 rounded-lg p-6 shadow-sm hover:shadow-lg focus-within:shadow-lg">
	<a class="flex flex-col gap-2 focus:outline-none" href={href}>
		<h2 class="text-xl text-primary-800 mx-auto">
			{title}
		</h2>
		<p class="text-lg text-primary-600">
			{body}
		</p>
		<slot />
	</a>
</div>
