---
import Default from './../layouts/Default.astro';
import Card from './../components/Card/Card.astro';
---

<Default>
	<main class="flex flex-col">
		<h1 class="text-3xl font-bold mx-auto text-primary-700 mb-6">Discovery</h1>
		<div class="container mx-auto">
			<div class="grid gap-4 grid-cols-1 md:grid-cols-4">
				<Card
					href="/twitter"
					title="Twitter Api"
					body="Get tweets from twitter api"
				/>
			</div>
		</div>
	</main>
</Default>
