---
import Layout from './../layouts/Layout.astro';
import Card from './../components/Card/Card.astro';
import CardDynamicRouting from './../components/CardDynamicRouting/CardDynamicRouting.astro';
import CardDynamicRoutingVue from './../components/CardDynamicRoutingVue/CardDynamicRoutingVue.vue';
---

<Layout>
	<main class="flex flex-col">
		<h1 class="text-3xl font-bold mx-auto text-primary-700 mb-6">HomePage</h1>
		<div class="container mx-auto">
			<div class="grid gap-4 grid-cols-1 md:grid-cols-4">
				<Card
					href="/twitter"
					title="Twitter Api"
					body="Get tweets from twitter api"
				/>
				<Card
					href="/discoveryapi"
					title="Discovery Api"
					body="An api build with flask"
				/>
				<CardDynamicRouting />
				<CardDynamicRoutingVue client:load/>
			</div>
		</div>
	</main>
</Layout>