---
import Default from './../layouts/Default.astro';
import Card from './../components/Card/Card.astro';
---

<Default>
	<main class="flex flex-col">
		<h1 class="text-3xl font-bold mx-auto text-primary-700 mb-6">HomePage</h1>
		<div class="container mx-auto">
			<div class="grid gap-4 grid-cols-1 md:grid-cols-4">
				<Card
					href="/twitter"
					title="Twitter Api"
					body="Get tweets from twitter api"
				/>

				<Card
					title="User router parameter"
					body="Put something in the search"
				>
					<div 
						class="flex flex-col gap-2"
					>
						<input id="inputDynamicParameter" />

						<button id="submitDynamicParameter">Submit</button>
					</div>
				</Card>
			</div>
		</div>
	</main>
</Default>

<script>
	const submitDynamicParameter = document.querySelector('#submitDynamicParameter');

	submitDynamicParameter?.addEventListener('click', () => {
		const inputDynamicParameter: HTMLInputElement | null = document.querySelector('#inputDynamicParameter');
		const inputDynamicParameterValue = inputDynamicParameter?.value;
		window.location.assign(`/dynamic-routing/${inputDynamicParameterValue}`)
	});
</script>