---
import Default from './../layouts/Default.astro';
import Tweets from './../components/Tweets/Tweets.astro';
---

<Default>
	<main class="flex flex-col">
		<h1 class="text-3xl font-bold mx-auto text-primary-700 mb-6">Top Tweets</h1>
		<div class="container mx-auto">
			<Tweets/>
		</div>
	</main>
</Default>
