---
import { getTweets } from './../../helpers/twitter.js'

import Card from './../Card/Card.astro';

import type { Tweet } from './tweets.type'

let tweets : Tweet[] = [];

try {
    tweets = await getTweets(['1278747501642657792','1255542774432063488']);
} catch {}
---

<div class="grid gap-4 grid-cols-1 md:grid-cols-4">
    {
        tweets.map(({text, id}) => 
            <Card
                href={`https://twitter.com/realmarcel1/status/${id}`}
                title="From TwitterDev"
                body={text}
            />
        )
    }
</div>